---
http_interactions:
- request:
    method: get
    uri: https://api.typeform.com/forms/some-form/responses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - bearer some-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Typeform-Debug-Id:
      - e92da174-4f08-4a55-9d4f-eee456d55da6
      Typeform-Version:
      - '2016-05-25'
      X-Human:
      - https://www.typeform.com/careers
    body:
      encoding: UTF-8
      string: |
        {"total_items":11243,"page_count":450,"items":[{"landing_id":"9d1954ba7dd15a4206258c7ab5f2d28a","token":"9d1954ba7dd15a4206258c7ab5f2d28a","landed_at":"2017-10-02T15:40:11Z","submitted_at":"2017-10-02T15:45:21Z","metadata":{"user_agent":"Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_3 like Mac OS X) AppleWebKit/603.3.8 (KHTML, like Gecko) Version/10.0 Mobile/14G60 Safari/602.1","platform":"mobile","referer":"https://clearscore.typeform.com/to/RAb57G?name=Susan\u0026score=2\u0026customer=4604554\u0026survey_name=login_monthly\u0026survey_answer=Somewhat+disappointed\u0026utm_medium=email\u0026utm_campaign=research_perc_val_2017_08_12\u0026utm_source=blueshift\u0026utm_content=research_perc_val_2017_08_12_log_mon\u0026bsft_clkid=b0ba330a-1fe2-4a47-9a9c-02be8dd20ce4\u0026bsft_uid=ec221ace-7e8e-4780-be8a-9f6fa4375431\u0026bsft_mid=c451c6a4-fb3e-4aff-a101-5ee9997f9cc9\u0026bsft_eid=91fc24f0-d98e-4b38-8135-a6cfb3c68a72","network_id":"8f548492ca","browser":"touch"},"answers":[{"field":{"id":"58048049","type":"opinion_scale"},"type":"number","number":10},{"field":{"id":"58048493","type":"opinion_scale"},"type":"number","number":5},{"field":{"id":"58048684","type":"opinion_scale"},"type":"number","number":3},{"field":{"id":"58048687","type":"opinion_scale"},"type":"number","number":3},{"field":{"id":"58049765","type":"dropdown"},"type":"text","text":"\u003c £20,000"},{"field":{"id":"58048690","type":"opinion_scale"},"type":"number","number":3},{"field":{"id":"58049393","type":"multiple_choice"},"type":"choice","choice":{"label":"55 to 64"}},{"field":{"id":"58049969","type":"long_text"},"type":"text","text":"It is really helpful to see your credit score at any time and if it changes then why gas it changed"},{"field":{"id":"58048704","type":"opinion_scale"},"type":"number","number":2},{"field":{"id":"58049487","type":"dropdown"},"type":"text","text":"South East"}],"hidden":{"customer":"4604554","name":"Susan","score":"2","survey_answer":"Somewhat+disappointed","survey_name":"login_monthly"},"calculated":{"score":0}},{"landing_id":"86931f6af407aec1c7213e174523df20","token":"86931f6af407aec1c7213e174523df20","landed_at":"2017-10-01T10:36:13Z","submitted_at":"2017-10-01T10:38:56Z","metadata":{"user_agent":"Mozilla/5.0 (iPad; CPU OS 10_3_3 like Mac OS X) AppleWebKit/603.3.8 (KHTML, like Gecko) Version/10.0 Mobile/14G60 Safari/602.1","platform":"tablet","referer":"https://clearscore.typeform.com/to/RAb57G?name=Jonathan\u0026score=1\u0026customer=908677\u0026survey_name=login_monthly\u0026survey_answ[...]
